# Set in python

set items are not in order or we can't define them on the basis of index

In [10]:
a=  {'cat', 122, 'dog',5445}
print(a)

{'cat', 5445, 122, 'dog'}

# set items are unorderd

In [1]:
a=  {'cat', 122, 'dog',5445}
print(a)

{'dog', 122, 5445, 'cat'}

In [2]:
print(a[1])

TypeError: 'set' object is not subscriptable

# duplicates are not allowed

In [4]:
a =  {'cat', 122, 'dog',5445,'dog','cat'}
print(a)

{122, 5445, 'cat', 'dog'}

# True and 1 consider as same

In [9]:
a=  {'cat', 122, 'dog',5445,'dog','cat', True, False, 1}
print(a)
print(len(a))

{False, True, 5445, 122, 'cat', 'dog'}
6

In [14]:
b = {True, False, True}
print(b)

{False, True}

In [17]:
a = {(122,888,885)}
print(a)

{(122, 888, 885)}

In [3]:
b = {[56,98,2225]}
print(b)

TypeError: unhashable type: 'list'

In [19]:
b = {{4459,588,225,98,5558,7}}     
print(b)

TypeError: unhashable type: 'set'

In [20]:
thisset = set((1548,665,8879,555))
print(thisset)

{665, 555, 1548, 8879}

In [21]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [22]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

# Access items

In [24]:
t = {"a", "b","c","d"}
print(t)
for x in t:
    print(x)

{'c', 'b', 'a', 'd'}
c
b
a
d

# Check if item is present in set

In [30]:
t = {"a", "b","c","d"}
x = input("enter item ",)
if x in t:
    print("yes")
else:
    print("no")

enter item  d

yes

In [33]:
t = {"a", "b","c","d"}
print("a" in t)

True

In [34]:
t = {"a", "b","c","d"}
print("ab" in t)

False

# Add item

In [35]:
t = {"a", "b","c","d"}
t.add(5545)
print(t)

{5545, 'd', 'c', 'b', 'a'}

In [36]:
a = {"hello", "python"}
b = {355,545,25,5,5}

a.update(b)
print(a)
print(b)

{545, 'hello', 355, 5, 'python', 25}
{545, 355, 5, 25}

# remove item

In [4]:
a = {545, 'hello', 355, 5, 'python', 25}
a.remove("hello")
print(a)

{545, 355, 5, 'python', 25}

In [43]:
a={59, 'hello', 355, 5, 'python', 25}
a.pop()                # randomly removes any of items
print(a)

{'hello', 5, 'python', 59, 25}

In [45]:
a = {545, 'hello', 355, 5, 'python', 25}
a.clear()               # delete all items from set
print(a)

set()

In [5]:
a = {545, 'hello', 355, 5, 'python', 25}
del a               # delete  set memory
print(a)

NameError: name 'a' is not defined

#  Join two sets

In [8]:
a = {1,5,4,3}
b = {"a","b",1}
x = a.union(b)
y = a.intersection(b)
print(x)
print(y)

{1, 3, 4, 5, 'a', 'b'}
{1}

In [50]:
a = {11,88,58,4}
print('maximum value of set a')
print(max(a))
print('minimum value of set a')
print(min(a))

maximum value of set a
88
minimum value of set a
4

# common elements in both sets

In [51]:
x={10,20,30,40}
y={10,50,60,30}
print(x.intersection(y))

{10, 30}

In [55]:
a = {10,58,5552,66}
print("items in set ",len(a))
print("max item",max(a))
print("min item",min(a))

x =tuple(a)
print(x)
y = list(a)
print(y)

items in set  4
max item 5552
min item 10
(5552, 10, 58, 66)
[5552, 10, 58, 66]

In [5]:
d = dict()
n= int(input("Numbers ",))
for x in range(1,n+1):
    d[x]=x**2
print(d)

Numbers  15

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}