# Tuples

In [2]:
my_tuple = (112,'python',966.255,88-5j)
print(my_tuple)

(112, 'python', 966.255, (88-5j))

# empty tuple

In [3]:
a = ()
print(a)
print(type(a))

()
<class 'tuple'>

# nested tuple

In [4]:
a = ('hello',[1,25,-4],('dhg',9855))
print(type(a))

<class 'tuple'>

 # crating a tuple with only one item

In [5]:
a = ('satish')
print(type(a))

<class 'str'>

In [6]:
a = ('satish',)
print(type(a))

<class 'tuple'>

 # tuple constructor

In [7]:
a = tuple((1,58,'shgd'))
print(a)

(1, 58, 'shgd')

# indexing

In [9]:
a = (1,2,3, 'dsd')
print(a[-1])
print(a[2])

dsd
3

# slicing

In [11]:
a = ('python','learnig','hello')
print(a[0:2])

('python', 'learnig')

In [13]:
a = (45,5,98,565,5)
y = list(a)
y.append("python")
a = tuple(y)
print(a)

(45, 5, 98, 565, 5, 'python')

In [14]:
a = (45,5,98,565,5)
y = list(a)
y.remove(45)
a = tuple(y)
print(a)

(5, 98, 565, 5)

In [15]:
del a

In [16]:
print(a)

NameError: name 'a' is not defined

# Loop

In [18]:
tuple = (454544,4578,8488)
for i in tuple:
    print(i)

454544
4578
8488

# additioin of tuple

In [19]:
t1 = (555,558,52)
t2 = (55,885,85)
t3 = t1+t2
print(t3)

(555, 558, 52, 55, 885, 85)

In [1]:
t1 = (555,558,52)
t2 = t1*3     # here multiplication means we get it three times
print(t2)

(555, 558, 52, 555, 558, 52, 555, 558, 52)

In [23]:
t = (1,2,3,4,5)
print(t*2)
print(t+t)
print(t+t+t)
print(len(t))

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
5

# take five input from user and store in tuple

In [2]:
a = ('age',)
h =("height",)
w = ("weight",)
n = ("mobile",)
T = []
T.append(a)
T.append(h)
T.append(w)
T.append(n)
y = tuple(T)
print(T)

[('age',), ('height',), ('weight',), ('mobile',)]

In [44]:
T = ()
i = 0
while i <= 5:
    num =int(input("enter",))
    T = T + (num,)
    i =i+1
print(T)

enter 12
enter 32
enter 65
enter 45
enter 85
enter 25

(12, 32, 65, 45, 85, 25)