 # Creating a dictionary

In [29]:
a = { "ID" : "abc1123",
     "name" : "satish",
     "year" : 2001 ,
     "year" : 2000 ,       # duplicates are not allowed it takes recent value
       12 :5                # numbers are also applicable
     

}

In [28]:
print(a)
print(type(a))

{'ID': 'abc1123', 'name': 'satish', 'year': 2000, 12: 5}
<class 'dict'>

# length

In [6]:
a = { "ID" : "abc1123",
     "name" : "satish",
     "year" : 2001 }
print(len(a))

3

In [9]:
dict = { "ID" : "abc1123",
     "name" : "satish",
     "year" : 2001, "a": [552,85,55], "b": (54,-555,2.588) , "c": True}
print(dict)

{'ID': 'abc1123', 'name': 'satish', 'year': 2001, 'a': [552, 85, 55], 'b': (54, -555, 2.588), 'c': True}

In [7]:
a = { "ID" : "abc1123",
     "name" : "satish",
     "year" : 2001 ,
     "year" : 2000 }
print(len(a))

3

In [11]:
print(dict["ID"])
print(dict.get("ID"))

abc1123
abc1123

In [12]:
dict = { "ID" : "abc1123",
     "name" : "satish",
         "year" : 2001 }

In [14]:
x = dict.keys()

In [15]:
x

dict_keys(['ID', 'name', 'year'])

In [1]:
y = dict.values()

TypeError: unbound method dict.values() needs an argument

In [18]:
y

dict_values(['abc1123', 'satish', 2001])

In [19]:
dict = { "ID" : "abc1123",
     "name" : "satish",
     "year" : 2001}
dict["year"] = 2023
print(dict)

{'ID': 'abc1123', 'name': 'satish', 'year': 2023}

In [21]:
dict = { "ID" : "abc1123",
     "name" : "satish",
         "year" : 2001 }
dict.update("age": 33)
print(dict)

SyntaxError: invalid syntax (1870762373.py, line 4)

In [23]:
dict = { "ID" : "abc1123",
     "name" : "satish",
         "year" : 2001 }
dict.update({"age": 33})
print(dict)

{'ID': 'abc1123', 'name': 'satish', 'year': 2001, 'age': 33}

# delete the values

In [24]:
a = dict = { "ID" : "abc1123",
     "name" : "satish",
         "year" : 2001 }
a.pop("name")
print(a)

{'ID': 'abc1123', 'year': 2001}

In [25]:
dict = { "ID" : "abc1123",
     "name" : "satish",
         "year" : 2001 }
del dict["name"]
print(dict)

{'ID': 'abc1123', 'year': 2001}

In [26]:
dict = { "ID" : "abc1123",
     "name" : "satish",
         "year" : 2001 }
dict.clear()
print(dict)

{}

In [30]:
dict1 = {1:10,2:20}
dict2 = {3:30,4:40}
dict3 = {5:50,6:60}
dict4 ={}
for d in (dict1 ,dict2, dict3):dict4.update(d)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [1]:
d = dict()
n= int(input("Numbers ",))
for x in range(1,n):
    d[x]=x**2
print(d)

Numbers  12

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [6]:
a = { "ID" : "abc1123",
     "name" : "satish",
     "year" : 2001 ,
     "year" : 2000 }
x = input("Enter a key value: ",)
if x in a:
    print("yes")
else:
    print("no")

Enter a key value:  satish

no

In [48]:
a = { "ID" : "abc1123",
     "name" : "satish",
     "year" : 2001 ,
     "year" : 2000 }
x = input("Enter a key value",)
if x in a:
    print("yes")
else:
    print("no")

Enter a key value age

no

In [50]:
a = { "ID" : "abc1123",
     "name" : "satish",
     "year" : 2001 ,
     "year" : 2000 }
def key(x):
    if x in a:
        print("present")
    else:
        print("no")

In [51]:
key("year")

present

In [52]:
key("ID")

present

In [7]:
d = dict()
n= int(input("Numbers ",))
for x in range(1,n):
    d[x]=x**2
print(d)

Numbers  100

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801}